.animation {
  animation: scroll linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
.animationLeft {
  animation: scrollfromLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.animationRight {
  animation: scrollfromRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes scroll {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}

@keyframes scrollfromLeft {
  from {
    opacity: 0;
    scale: 0.5;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    scale: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes scrollfromRight {
  from {
    opacity: 0;
    scale: 0.5;
    clip-path: inset(0 0 100% 100%);
  }
  to {
    opacity: 1;
    scale: 1;
    clip-path: inset(0 0 0 0);
  }
}
